version: "3"

services:
  gohandam:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    volumes:
      - ./src:/gohandam
    environment:
      - WATCHPACK_POLLING=true
    command: sh -c "yarn install  && yarn dev"
    ports:
      - "5800:5800"
